.dsmovie-pagination-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.dsmovie-pagination-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.dsmovie-pagination-box form {
    display: flex;
    width: 100%;
}

.dsmovie-pagination-button {
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--color-primary);
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.dsmovie-pagination-button svg {
    filter: brightness(0) saturate(100%) invert(26%) sepia(19%) saturate(7395%) hue-rotate(234deg) brightness(89%) contrast(92%);
}

.dsmovie-pagination-button:disabled {
    border: 1px solid #c2c2c2;
    cursor: unset;
}

.dsmovie-pagination-button:disabled svg {
    filter: none;
}

.dsmovie-pagination-container p {
    color: var(--color-primary);
    font-size: 12px;
    margin: 0;
}

.dsmovie-flip-horizontal {
    transform: rotate(180deg);
}